<div class="mt-5 container">

    <div class="row mb-5">
        <div class="col-12 d-flex align-items-center">
            <h2 class="m-0" style="font-size:38px;">View Todos</h2>
            <button class="btn btn-secondary ml-auto btn-md" (click)="reset()">Clear</button>
            <button class="btn btn-info ml-2 btn-md" (click)="getDemoData()">Load Demo</button>
        </div>
    </div>
    
    <table mat-table [dataSource]="todos$ | async" class="mat-elevation-z1 w-100">
        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="timeInMin">
            <mat-header-cell *matHeaderCellDef>Time (minutes)</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.timeInMin}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="instructions">
            <mat-header-cell *matHeaderCellDef>Instructions</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.instructions}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span *ngIf="!element.completed" class="badge badge-warning">Open</span>
                <span *ngIf="element.completed" class="badge badge-success">Completed</span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button *ngIf="!element.completed" class="btn btn-success btn-sm" (click)="done(element)">Mark Done</button>
                <button *ngIf="element.completed" class="btn btn-success btn-sm" (click)="undo(element)">Undo</button>
                <button class="btn btn-info btn-sm ml-2" (click)="edit(element)">Edit</button>
                <button class="btn btn-danger btn-sm ml-2" (click)="remove(element)">Remove</button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </table>
</div>